<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>409461056982-v67m7ipokt2sprpodluoc8kdhcfk0ops.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.409461056982-v67m7ipokt2sprpodluoc8kdhcfk0ops</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>409461056982-c9vt5f6dlnlee0g4qi37t3pgadmecsfh.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDKwVJ6Xo-_0fWbmhL9xwW4JUoA99Zcnos</string>
	<key>GCM_SENDER_ID</key>
	<string>409461056982</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cbsapperals</string>
	<key>PROJECT_ID</key>
	<string>cbsapperals</string>
	<key>STORAGE_BUCKET</key>
	<string>cbsapperals.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:409461056982:ios:752946e7e34eaeac0f3077</string>
</dict>
</plist>